<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <p>
    <label for="name">PetName:</label>
    <input id="name" type="text" formControlName="name" />
    <span *ngIf="form.controls.name.invalid && form.controls.name.touched">
      PetName is required.
    </span>
  </p>

  <p>
    <label for="description">Description:</label>
    <textarea
      id="description"
      formControlName="description"
      rows="8"
      cols="30"
    ></textarea>
    <span *ngIf="form.controls.description.invalid && form.controls.description.touched">
      Description is required.
    </span>
  </p>

  <p>
    <label for="age">Age:</label>
    <input id="age" type="number" formControlName="age" />
    <span *ngIf="form.controls.age.invalid && form.controls.age.touched">
      Age is required.
    </span>
  </p>

  <p>
    <label for="type">Type:</label>
    <input id="type" type="text" formControlName="type" />
    <span *ngIf="form.controls.type.invalid && form.controls.type.touched">
      Animal Type is required.
    </span>
  </p>

  <p>
    <label for="image">Upload Pet Image:</label>
    <input type="file" id="image" (change)="onImageChange($event)" />
    <span *ngIf="form.controls.imagePath.invalid && form.controls.imagePath.touched">Image is required.</span>
  </p>

  <p>

  <p>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </p>
  <p *ngIf="submissionSuccess" style="color: green; font-weight: bold;">Pet submitted successfully!</p>

</form>
