:host {
  --content-padding: 10px;
}
/* header.brand-name {
  display: block;
  text-decoration:none !important;
  color: rgb(24, 24, 24);
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
} */

.brand-name {
  display: flex;                    /* Make the header a flex container */
  justify-content: space-between;    /* Align items on each end (left for logo, right for link) */
  align-items: center;               /* Vertically align items in the middle */
  padding: 10px 20px;                /* Add some padding around the header */
}
.brand-name .logo{
  width: 300px;        /* Image will take full width of the card */
  height: 300px;      /* Fixed height for the image */
  object-fit: cover;  /* Ensure the image fits the box without distortion */
  border-radius: 8px; /* Optional: Add rounded corners to the image */
  margin-bottom: 10px; /* Add some space below the image */
  box-sizing: border-box; /* Ensure padding/border is included in image size */
  max-width: 100%; /* Prevent image from exceeding card width */
  max-height: 400px
}
.brand-name a {
  text-decoration: none;             /* Remove underline from the link */
  color: inherit;                    /* Make the link color inherit from its parent */
}

.pet-post-link {
  font-weight: bold;                 /* Make the + PET link stand out */
  font-size: 40px;                   /* Adjust font size as needed */
  padding: 5px 10px;                 /* Add padding for spacing around the link */
  background-color: var(--primary-color); /* Set background color */
  color: rgb(19, 18, 18);                      /* Set link color */
  border-radius: 5px;          /* Rounded corners for the link */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.pet-post-link:hover {
  background-color: var(--secondary-color); /* Change background on hover */
}
