/* General Styling */
.pet-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.pet-photo {
  width: 100%;
  height: auto;
  max-width: 600px; /* Limit the image width */
  object-fit: cover;
  border-radius: 30px;
  margin-right: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Pet Heading and Description */
.pet-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--primary-color); /* Use your primary color */
}

.pet-location {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--secondary-color); /* Use a secondary color */
}

/* Pet Features Section */
.pet-features {
  margin-bottom: 20px;
}

.pet-features h2 {
  color: var(--secondary-color);
  font-size: 24px;
  margin-bottom: 10px;
}

.pet-features li {
  font-size: 16px;
  color: var(--tertiary-color); /* Use tertiary color for subtle text */
  margin-bottom: 8px;
}

.pet-features ul {
  padding-left: 20px;
}

.pet-features li:before {
  content: "•";
  color: var(--primary-color); /* Bullet color */
  padding-right: 8px;
}

/* Form Styling */
.pet-apply {
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
}

.apply-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 6px;
}

input {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: var(--primary-color); /* Focused input border */
}

/* Button Styling */
button.primary {
  background-color: var(--primary-color);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button.primary:hover:not(:disabled) {
  background-color: var(--primary-color-dark); /* Darker shade of primary */
}

/* Responsive Design */
@media (max-width: 1024px) {
  .pet-photo {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .pet-details-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pet-description, .pet-features, .pet-apply {
    text-align: center;
  }

  .pet-heading {
    font-size: 30px;
  }

  .pet-location {
    font-size: 18px;
  }

  .apply-form input {
    width: 100%;
  }

  button.primary {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .pet-heading {
    font-size: 24px;
  }

  .pet-location {
    font-size: 16px;
  }

  .pet-features li {
    font-size: 14px;
  }

  .apply-form {
    width: 100%;
  }

  button.primary {
    padding: 10px;
  }
}
