.pet-card-component {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 30px;
}

.pet-card-component .pet-photo {
  width: 100%;        /* Image will take full width of the card */
  height: 300px;      /* Fixed height for the image */
  object-fit: cover;  /* Ensure the image fits the box without distortion */
  border-radius: 8px; /* Optional: Add rounded corners to the image */
  margin-bottom: 10px; /* Add some space below the image */
  box-sizing: border-box; /* Ensure padding/border is included in image size */
  max-width: 100%; /* Prevent image from exceeding card width */
  max-height: 400px
}
.pet-card-component-name {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}
.pet-card-component-description {
  padding: 10px 20px 20px 20px;
}
.pet-card-component-age {
  padding: 10px 20px 20px 20px;
}
.pet-card-component-type {
  padding: 10px 20px 20px 20px;
}

section.pet-card-component a {
  padding-left: 10px;
  text-decoration: none;
  color: var(--primary-color);
}

