<section class="pet-card-component">
  <img
      class="pet-photo"
      [src]="petLocation.image"
      alt="photo of {{ petLocation.petName }}"
     crossorigin
    />
  <h3 class="pet-name"> My name is {{ petLocation.petName }}</h3>
  <p class="pet-description">{{ petLocation.description }}</p>
  <p class="pet-age"> I am {{ petLocation.age }} years old</p>
  <p class="pet-type">I am a {{ petLocation.type }}</p>


    <a [routerLink]="['/pet', petLocation.petId]">Learn More</a>
  </section>

